<%= form_for(@pzz_post) do |f| %>
  <% if @pzz_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_post.errors.count, "error") %> prohibited this pzz_post from being saved:</h2>

      <ul>
      <% @pzz_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :post_title %><br>
    <%= f.text_field :post_title %>
  </div>
  <div class="field">
    <%= f.label :post_name %><br>
    <%= f.text_field :post_name %>
  </div>
  <div class="field">
    <%= f.label :post_content %><br>
    <%= f.text_area :post_content %>
  </div>
  <div class="field">
    <%= f.label :post_excerpt %><br>
    <%= f.text_area :post_excerpt %>
  </div>
  <div class="field">
    <%= f.label :post_status %><br>
    <%= f.number_field :post_status %>
  </div>
  <div class="field">
    <%= f.label :comment_status %><br>
    <%= f.number_field :comment_status %>
  </div>
  <div class="field">
    <%= f.label :post_content_filtered %><br>
    <%= f.text_area :post_content_filtered %>
  </div>
  <div class="field">
    <%= f.label :comment_count %><br>
    <%= f.number_field :comment_count %>
  </div>
  <div class="field">
    <%= f.label :post_order %><br>
    <%= f.number_field :post_order %>
  </div>
  <div class="field">
    <%= f.label :post_guid %><br>
    <%= f.text_field :post_guid %>
  </div>
  <div class="field">
    <%= f.label :to_ping %><br>
    <%= f.text_area :to_ping %>
  </div>
  <div class="field">
    <%= f.label :pinged %><br>
    <%= f.text_area :pinged %>
  </div>
  <div class="field">
    <%= f.label :ping_status %><br>
    <%= f.number_field :ping_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
