<%= form_for(@pzz_identity) do |f| %>
  <% if @pzz_identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_identity.errors.count, "error") %> prohibited this pzz_identity from being saved:</h2>

      <ul>
      <% @pzz_identity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :identity_realname %><br>
    <%= f.text_field :identity_realname %>
  </div>
  <div class="field">
    <%= f.label :identity_gender %><br>
    <%= f.number_field :identity_gender %>
  </div>
  <div class="field">
    <%= f.label :identity_card_no %><br>
    <%= f.text_field :identity_card_no %>
  </div>
  <div class="field">
    <%= f.label :identity_card_image %><br>
    <%= f.text_field :identity_card_image %>
  </div>
  <div class="field">
    <%= f.label :identity_dl_no %><br>
    <%= f.text_field :identity_dl_no %>
  </div>
  <div class="field">
    <%= f.label :identity_dl_type %><br>
    <%= f.number_field :identity_dl_type %>
  </div>
  <div class="field">
    <%= f.label :identity_dl_image %><br>
    <%= f.text_field :identity_dl_image %>
  </div>
  <div class="field">
    <%= f.label :identity_dl_starttime %><br>
    <%= f.datetime_select :identity_dl_starttime %>
  </div>
  <div class="field">
    <%= f.label :identity_dl_status %><br>
    <%= f.number_field :identity_dl_status %>
  </div>
  <div class="field">
    <%= f.label :identity_status %><br>
    <%= f.number_field :identity_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
