<h1>Listing pzz_identities</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Identity realname</th>
      <th>Identity gender</th>
      <th>Identity card no</th>
      <th>Identity card image</th>
      <th>Identity dl no</th>
      <th>Identity dl type</th>
      <th>Identity dl image</th>
      <th>Identity dl starttime</th>
      <th>Identity dl status</th>
      <th>Identity status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pzz_identities.each do |pzz_identity| %>
      <tr>
        <td><%= pzz_identity.pzz_user_id %></td>
        <td><%= pzz_identity.identity_realname %></td>
        <td><%= pzz_identity.identity_gender %></td>
        <td><%= pzz_identity.identity_card_no %></td>
        <td><%= pzz_identity.identity_card_image %></td>
        <td><%= pzz_identity.identity_dl_no %></td>
        <td><%= pzz_identity.identity_dl_type %></td>
        <td><%= pzz_identity.identity_dl_image %></td>
        <td><%= pzz_identity.identity_dl_starttime %></td>
        <td><%= pzz_identity.identity_dl_status %></td>
        <td><%= pzz_identity.identity_status %></td>
        <td><%= link_to 'Show', pzz_identity %></td>
        <td><%= link_to 'Edit', edit_pzz_identity_path(pzz_identity) %></td>
        <td><%= link_to 'Destroy', pzz_identity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pzz identity', new_pzz_identity_path %>
