<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pzz_identity.pzz_user_id %>
</p>

<p>
  <strong>Identity realname:</strong>
  <%= @pzz_identity.identity_realname %>
</p>

<p>
  <strong>Identity gender:</strong>
  <%= @pzz_identity.identity_gender %>
</p>

<p>
  <strong>Identity card no:</strong>
  <%= @pzz_identity.identity_card_no %>
</p>

<p>
  <strong>Identity card image:</strong>
  <%= @pzz_identity.identity_card_image %>
</p>

<p>
  <strong>Identity dl no:</strong>
  <%= @pzz_identity.identity_dl_no %>
</p>

<p>
  <strong>Identity dl type:</strong>
  <%= @pzz_identity.identity_dl_type %>
</p>

<p>
  <strong>Identity dl image:</strong>
  <%= @pzz_identity.identity_dl_image %>
</p>

<p>
  <strong>Identity dl starttime:</strong>
  <%= @pzz_identity.identity_dl_starttime %>
</p>

<p>
  <strong>Identity dl status:</strong>
  <%= @pzz_identity.identity_dl_status %>
</p>

<p>
  <strong>Identity status:</strong>
  <%= @pzz_identity.identity_status %>
</p>

<%= link_to 'Edit', edit_pzz_identity_path(@pzz_identity) %> |
<%= link_to 'Back', pzz_identities_path %>
