<%= form_for(@pzz_link) do |f| %>
  <% if @pzz_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_link.errors.count, "error") %> prohibited this pzz_link from being saved:</h2>

      <ul>
      <% @pzz_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :link_url %><br>
    <%= f.text_field :link_url %>
  </div>
  <div class="field">
    <%= f.label :link_name %><br>
    <%= f.text_field :link_name %>
  </div>
  <div class="field">
    <%= f.label :link_image %><br>
    <%= f.text_field :link_image %>
  </div>
  <div class="field">
    <%= f.label :link_target %><br>
    <%= f.text_field :link_target %>
  </div>
  <div class="field">
    <%= f.label :link_description %><br>
    <%= f.text_field :link_description %>
  </div>
  <div class="field">
    <%= f.label :link_visible %><br>
    <%= f.number_field :link_visible %>
  </div>
  <div class="field">
    <%= f.label :link_rating %><br>
    <%= f.number_field :link_rating %>
  </div>
  <div class="field">
    <%= f.label :link_rel %><br>
    <%= f.text_field :link_rel %>
  </div>
  <div class="field">
    <%= f.label :link_notes %><br>
    <%= f.text_area :link_notes %>
  </div>
  <div class="field">
    <%= f.label :link_rss %><br>
    <%= f.text_field :link_rss %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
