<%= form_for(@pzz_car) do |f| %>
  <% if @pzz_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pzz_car.errors.count, "error") %> prohibited this pzz_car from being saved:</h2>

      <ul>
      <% @pzz_car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pzz_user_id %><br>
    <%= f.number_field :pzz_user_id %>
  </div>
  <div class="field">
    <%= f.label :car_type %><br>
    <%= f.number_field :car_type %>
  </div>
  <div class="field">
    <%= f.label :car_brand %><br>
    <%= f.text_field :car_brand %>
  </div>
  <div class="field">
    <%= f.label :car_seats %><br>
    <%= f.number_field :car_seats %>
  </div>
  <div class="field">
    <%= f.label :car_plate_no %><br>
    <%= f.text_field :car_plate_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
