<h1>Listing pzz_cars</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Car type</th>
      <th>Car brand</th>
      <th>Car seats</th>
      <th>Car plate no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pzz_cars.each do |pzz_car| %>
      <tr>
        <td><%= pzz_car.pzz_user_id %></td>
        <td><%= pzz_car.car_type %></td>
        <td><%= pzz_car.car_brand %></td>
        <td><%= pzz_car.car_seats %></td>
        <td><%= pzz_car.car_plate_no %></td>
        <td><%= link_to 'Show', pzz_car %></td>
        <td><%= link_to 'Edit', edit_pzz_car_path(pzz_car) %></td>
        <td><%= link_to 'Destroy', pzz_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pzz car', new_pzz_car_path %>
