<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pzz_car.pzz_user_id %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @pzz_car.car_type %>
</p>

<p>
  <strong>Car brand:</strong>
  <%= @pzz_car.car_brand %>
</p>

<p>
  <strong>Car seats:</strong>
  <%= @pzz_car.car_seats %>
</p>

<p>
  <strong>Car plate no:</strong>
  <%= @pzz_car.car_plate_no %>
</p>

<%= link_to 'Edit', edit_pzz_car_path(@pzz_car) %> |
<%= link_to 'Back', pzz_cars_path %>
