<h1>Listing pzz_traffics</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Traffic keywords</th>
      <th>Traffic image</th>
      <th>Traffic description</th>
      <th>Traffic gps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pzz_traffics.each do |pzz_traffic| %>
      <tr>
        <td><%= pzz_traffic.pzz_user_id %></td>
        <td><%= pzz_traffic.traffic_keywords %></td>
        <td><%= pzz_traffic.traffic_image %></td>
        <td><%= pzz_traffic.traffic_description %></td>
        <td><%= pzz_traffic.traffic_gps %></td>
        <td><%= link_to 'Show', pzz_traffic %></td>
        <td><%= link_to 'Edit', edit_pzz_traffic_path(pzz_traffic) %></td>
        <td><%= link_to 'Destroy', pzz_traffic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pzz traffic', new_pzz_traffic_path %>
