<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pzz_line.pzz_user_id %>
</p>

<p>
  <strong>User nickname:</strong>
  <%= @pzz_line.user_nickname %>
</p>

<p>
  <strong>User realname:</strong>
  <%= @pzz_line.user_realname %>
</p>

<p>
  <strong>User phone:</strong>
  <%= @pzz_line.user_phone %>
</p>

<p>
  <strong>User email:</strong>
  <%= @pzz_line.user_email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @pzz_line.user_type %>
</p>

<p>
  <strong>Line type:</strong>
  <%= @pzz_line.line_type %>
</p>

<p>
  <strong>Line depart datetime:</strong>
  <%= @pzz_line.line_depart_datetime %>
</p>

<p>
  <strong>Line return:</strong>
  <%= @pzz_line.line_return %>
</p>

<p>
  <strong>Line return datetime:</strong>
  <%= @pzz_line.line_return_datetime %>
</p>

<p>
  <strong>Line participants:</strong>
  <%= @pzz_line.line_participants %>
</p>

<p>
  <strong>Line participants available:</strong>
  <%= @pzz_line.line_participants_available %>
</p>

<p>
  <strong>Line status:</strong>
  <%= @pzz_line.line_status %>
</p>

<p>
  <strong>Line price:</strong>
  <%= @pzz_line.line_price %>
</p>

<p>
  <strong>Line depart city:</strong>
  <%= @pzz_line.line_depart_city %>
</p>

<p>
  <strong>Line depart address:</strong>
  <%= @pzz_line.line_depart_address %>
</p>

<p>
  <strong>Line depart gps:</strong>
  <%= @pzz_line.line_depart_gps %>
</p>

<p>
  <strong>Line dest city:</strong>
  <%= @pzz_line.line_dest_city %>
</p>

<p>
  <strong>Line dest address:</strong>
  <%= @pzz_line.line_dest_address %>
</p>

<p>
  <strong>Line dest gps:</strong>
  <%= @pzz_line.line_dest_gps %>
</p>

<p>
  <strong>Line midway:</strong>
  <%= @pzz_line.line_midway %>
</p>

<p>
  <strong>Line milleage:</strong>
  <%= @pzz_line.line_milleage %>
</p>

<p>
  <strong>Line elapse:</strong>
  <%= @pzz_line.line_elapse %>
</p>

<p>
  <strong>Line fuel:</strong>
  <%= @pzz_line.line_fuel %>
</p>

<p>
  <strong>Line expire datetime:</strong>
  <%= @pzz_line.line_expire_datetime %>
</p>

<p>
  <strong>Line plan type:</strong>
  <%= @pzz_line.line_plan_type %>
</p>

<p>
  <strong>Line week day:</strong>
  <%= @pzz_line.line_week_day %>
</p>

<p>
  <strong>Line remark:</strong>
  <%= @pzz_line.line_remark %>
</p>

<%= link_to 'Edit', edit_pzz_line_path(@pzz_line) %> |
<%= link_to 'Back', pzz_lines_path %>
